# GIT ignore commands for the data_output directory
# by default, nothing from this directory is ever added to github
*

# if you want to ADD any particular file to GitHub anyways, list it here (1 file per line) starting with !
!example_file_to_add.csv

!seqtab_nochim_OM14_processed_20200730.rds!seqtab_nochim_OM15_processed_20200730.rds!seqtab_nochim_OM16_processed_20200730.rds!seqtab_nochim_OM17_processed_20200716_3.rds!seqtab_nochim_OM18_processed_20200719.rds!seqtab_nochim_OM19_processed_20200803.rds!seqtab_OM14_processed_20200730.rds!seqtab_OM15_processed_20200730.rds!seqtab_OM16_processed_20200730.rds!seqtab_OM17_processed_20200716_3.rds!seqtab_OM18_processed_20200719.rds!seqtab_OM19_processed_20200803.rds!taxa_OM14_processed_20200730.rds!taxa_OM15_processed_20200730.rds!taxa_OM16_processed_20200730.rds!taxa_OM17_processed_20200716_2.rds!taxa_OM18_processed_20200720.rds!taxa_OM19_processed_20200803.rds